<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" th:href="@{/img/spring-boot.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header th:insert="fragments.html::nav"></header>
        
        <div class="container">
            Profile
        </div>

        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
    </body>
</html>
