<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" th:href="@{/img/spring-boot.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div class="container">

            <!-- Default form register -->
            <form class="border border-light p-5" th:action="@{/registration}" th:object="${user}" method="post">

                <p class="h4 mb-4 text-center">Registration</p>

                <!-- Username -->
                <div>
                    <input th:field="*{username}" class="form-control mb-4" />
                </div>

                <!-- Password -->
                <div>
                    <input type="password" th:field="*{password}"  class="form-control mb-4" />
                </div>

                <!-- Confirm Password -->
                <div>
                    <input type="password" th:field="*{matchingPassword}"  class="form-control mb-4" />
                </div>

                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Register</button>

                <!-- Register -->
                <p class="text-center">Already a member?
                    <a th:href="@{/login}">Log in</a>
                </p>

            </form>
            <!-- Default form register -->

        </div>

        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
    </body>
</html>
